﻿<div>
    <form>
        <div class="form-group row">
            <label for="title" class="col-md-1 form-control-label">Title</label>
            <div class="col-md-11">
                <input type="text" class="form-control col-md-11" id="title" placeholder="Title of the blog" data-ng-model="blog.Title" />
            </div>
        </div>
        <div class="form-group row">
            <label for="author" class="col-md-1 form-control-label">Author</label>
            <div class="col-md-11">
                <input type="text" class="form-control" id="author" placeholder="Name of the author" data-ng-model="blog.Author" />
            </div>
        </div>
        <div class="form-group row">
            <label for="content" class="col-md-1 form-control-label">Content</label>
            <div class="col-md-11">
                <textarea class="form-control" id="content" placeholder="Content of the blog" data-ng-model="blog.Content" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-offset-1 col-md-11">
                <a class="btn btn-default" href="/#/ListBlogs">Cancel</a>
                <a class="btn btn-primary" data-ng-click="ctrl.addBlog()">Save</a>
            </div>
        </div>
    </form>
</div>