﻿@{
    ViewBag.Title = "Blog";
}

<div class="jumbotron">
    <h1>Blog</h1>
    <h2>A blog for all life forms of this world.</h2>
</div>
<div data-ng-app="helloworld">
    <div data-ng-view></div>
</div>
