﻿<div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-default" href="/#/AddBlog">Add blog</a>
        </div>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="blog in blogs">
                    <td>{{blog.Title}}</td>
                    <td>{{blog.Author}}</td>
                    <td>{{blog.Content}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>